body {
  background: linear-gradient(to left, rgb(74, 111, 244), rgb(235, 120, 201));
  font-family: 'Courier New', Courier, monospace;
}

.center {
  display: flex;
  justify-content: center;
  // align-items: center;
}

button {
  cursor: pointer;
}

.particles {
  z-index: -3;
}